<!-- extend base layout -->
{% extends "base.html" %}
{% block content %}
	<br>
	<form action="/submit" id="textform" method="post">
		<div class="space">
			<p>Enter Customer's Name :</p>
			<input type="text" name="c_name" placeholder="Customer's name">
		</div>
		
	    <br>
		<div class="space">
			<p>Enter the amount (in rupees):</p>
			<input type="text" name="amount" placeholder="Amount">
		</div>
	    
		<br>
		<input type="submit" value="Confirm Transaction">
	</form>
	<br>
	<p>Click on Mine block after confirming the transaction</p>
	<a href="{{node_address}}/mine" target="_blank"><button>Mine block</button></a>
	<a href="/"><button>Refresh</button></a>

	<div style="margin: 20px;">

    {% for post in posts %}
    <div class="pb">
	   <div>
	      <div class="pbb">
	         <p>Customer Name : {{post.c_name}}</p>
			 <p>Amount : {{post.amount}}</p>
			 <div > Added at {{readable_time(post.timestamp)}}</div>
	      </div>
	   </div>
	</div>
	{% endfor %}

	<style>
		.space {
			padding: 2px 0px 0px 2px;
		}
		.pb {
		    background: #fff;
		    padding: 8px 0px 0px 8px;
		    margin-top: 7px;
		    margin-bottom: 7px;
		    border-top: 3px solid #2cdf14;
			border-bottom:  3px solid #2cdf14;
			border-left: 3px solid #2cdf14;
			border-right:  3px solid #2cdf14;
		}
		.pbh {
		    padding-bottom: 12px;
		}
		.pbaa {
		    content:"";
		    display:block;
		}
		.pbb {
			padding-bottom: 5px;
		}
	</style>
    </div>
{% endblock %}
